.auth-container{
    background-image: url('../src/assets/images/Bg.png');
    background-position: center center;
    background-size: cover;
}

.bg-overlay{
   background:linear-gradient(45deg,rgba(47, 140, 96, .6),rgba(0, 0, 0, 0.6)) ;
}

.sidebar-cont .ps-sidebar-container{
    background-color:rgba(31, 38, 62, 1) ;
    height: 100vh ;
    border-top-right-radius: 60px;
}
.sidebar-cont .ps-menu-button{
    color: #fff !important;
  
}

.sidebar-cont .ps-menu-button:hover{
    background-color:rgba(0, 146, 77, 0.1) !important ;
    border-left:4px solid rgba(0, 146, 77, 1)  ;
}

.sidebar-cont .sidebar-logo a:hover{
             background-color: transparent !important ;
              border-left:none  ;
}

.sidebar-cont .sidebar-logo a{
      padding: 0 !important;
} 

.header-bg {
    background-image: url('./assets/images/Headerbg.png');
    background-size: cover;
    width: 100%;
    border-radius: 12px;
}
.navbar-bg{
    background-color: rgba(248, 249, 251, 1);
     border-radius: 12px;
}

.home-des{
      background-color: rgba(240, 255, 239, 1);
      border-radius: 12px;
      padding: 20px;
}

.modal-header .btn-close{
    border: 2px solid red;
    border-radius: 50%;
    padding: 8px;
    filter: invert(28%) sepia(98%) saturate(7485%) hue-rotate(357deg) brightness(97%) contrast(115%);
    width:6px;
    height: 6px;

 
}

.modal-padding{
    padding: 60px;
}

.sr-only{
    position: absolute;
width: 1px;
height: 1px;
padding: 0;
margin: -1px;
overflow: hidden;
clip: rect(0, 0, 0, 0);
white-space: nowrap;
border-width: 0;
}


.item-img{
    width:50px;
    border-radius: 50%;
}

.recipes-header{
    background-color: rgba(240, 255, 239, 1);
}


.upload-box {
  border: 2px dashed #28a745;
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
  color: #28a745;
  background-color: #f8f9fa;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.upload-box:hover {
  background-color: #e6f4ec;
}

.NotFoundImg{
    width:87%;
}

.recipe-image {
  max-height: 200px;
  object-fit: cover;
  border-radius: 15px;
}

.close-btn {
  width: 32px;
  height: 32px;
}

.ActionAboveTable .input-group-text{
    border: none;
}

.form-control:focus{
    border-color:#28a745;
    box-shadow: 0 0 0 .25rem rgba(13, 253, 29, 0.25);
}

.home-content{
    height: 100vh;
}

.btn-icon:focus {
  outline: 2px solid #145523;
  outline-offset: 4px;
}

.active-sidebar-item {
  background-color:rgba(0, 146, 77, 0.1) !important; 
  color: white !important;
  font-weight: bold;
  border-radius: 8px;
 border-left: 4px solid rgba(0, 146, 71, 1);
 
}


